# Gradle
.gradle/
build/
app/build/
dist/
gradle/

# Local configuration file (sdk path, etc)
local.properties

# Android Studio / IntelliJ
.idea/
*.iml
*.ide
.DS_Store

# Native builds
.cxx/
.externalNativeBuild/

# Codespaces
.devcontainer/